<form [formGroup]="employeeForm" (ngSubmit)="onSubmit()" class="form-horizontal">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Create Employee</h3>
        </div>
        <div class="panel-body">

            <div class="form-group" [class.has-error]="formErrors.fullName">
                <label class="col-sm-2 control-label" for="fullName">Full Name</label>
                <div class="col-sm-8">
                    <input formControlName="fullName" id="fullName" class="form-control" type="text"
                            (blur)="logValidationErrors()" />
                    <label>{{ fullNameLength }}</label>
                    <span *ngIf="formErrors.fullName" class="help-block">
                        {{ formErrors.fullName }}
                    </span>
                </div>
            </div>

            <!-- <div class="form-group" [class.has-error]="employeeForm.get('fullName').errors && 
                (employeeForm.get('fullName').touched || employeeForm.get('fullName').dirty)">
                <label class="col-sm-2 control-label" for="fullName">Full Name</label>
                <div class="col-sm-8">
                    <input formControlName="fullName" id="fullName" class="form-control" type="text" />
                    <label>{{ fullNameLength }}</label>
                    <span *ngIf="employeeForm.get('fullName').errors && 
                        (employeeForm.get('fullName').touched || employeeForm.get('fullName').dirty)" class="help-block">
                        <span *ngIf="employeeForm.get('fullName').errors?.required">Name is required</span>
                        <span *ngIf="employeeForm.get('fullName').errors?.minlength || employeeForm.get('fullName').errors?.maxlength">
                            Full Name must be greater than 2 characters and less than 10 characters
                        </span>
                    </span>
                </div>
            </div> -->

            <div class="form-group">
                <label class="col-md-2 col-sm-2 control-label">Contact Preference</label>
                <div class="col-md-8 col-sm-10">
                    <label class="radio-inline">
                        <input type="radio" value="email" formControlName="contactPreference">Email
                    </label>
                    <label class="radio-inline">
                        <input type="radio" value="phone" formControlName="contactPreference">Phone
                    </label>
                </div>
            </div>

            <div formGroupName="emailGroup">
                <div class="form-group" [class.has-error]="formErrors.email">
                    <label class="col-sm-2 control-label" for="email">Email</label>
                    <div class="col-sm-8">
                        <input formControlName="email" id="email" class="form-control" type="text" (blur)="logValidationErrors()" />
                        <span *ngIf="formErrors.email" class="help-block">
                            {{ formErrors.email }}
                        </span>
                    </div>
                </div>
            
                <div class="form-group" [class.has-error]="formErrors.confirmEmail || formErrors.emailGroup">
                    <label class="col-sm-2 control-label" for="confirmEmail">Confirm Email</label>
                    <div class="col-sm-8">
                        <input formControlName="confirmEmail" id="confirmEmail" class="form-control" type="text"
                            (blur)="logValidationErrors()" />
                        <span *ngIf="formErrors.confirmEmail || formErrors.emailGroup" class="help-block">
                            {{ formErrors.confirmEmail ? formErrors.confirmEmail : formErrors.emailGroup }}
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group" [class.has-error]="formErrors.phone">
                <label class="col-sm-2 control-label" for="phone">Phone</label>
                <div class="col-sm-8">
                    <input formControlName="phone" id="phone" class="form-control" type="text"
                            (blur)="logValidationErrors()" />
                    <span *ngIf="formErrors.phone" class="help-block">
                        {{ formErrors.phone }}
                    </span>
                </div>
            </div>

            <div class="well">

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-4">
                        <button type="button" class="btn btn-primary" (click)="addSkillButtonClick()" [disabled]="employeeForm.get('skills').invalid">
                            Add Skill
                        </button>
                    </div>
                </div>

                <div formArrayName="skills" *ngFor="let skill of employeeForm.get('skills').controls; let i = index">

                    <hr *ngIf="i > 0" />

                    <div [formGroupName]="i">
                        <div class="form-group" [ngClass]="{'has-error': skill.get('skillName').invalid && (skill.get('skillName').touched || skill.get('skillName').dirty || skill.get('skillName').value !== '' || submitted)}">
                            <label class="col-sm-2 control-label" [attr.for]="'skillName' + i">
                                Skill
                            </label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" [id]="'skillName' + i" formControlName="skillName" placeholder="C#, Java, Angular etc...">
                                <span class="help-block" *ngIf="skill.get('skillName').errors?.required && (skill.get('skillName').touched || skill.get('skillName').dirty || skill.get('skillName').value !== '' || submitted)">
                                    <!-- {{formErrors.skillName}} -->
                                    {{ validationMessages.skillName.required }}
                                </span>
                            </div>
                            <div *ngIf="employeeForm.get('skills').length > 1" class="col-sm-6">
                                <button (click)="removeSkillButtonClick(i)" class="btn btn-danger btn-sm pull-right" title="Title" type="button">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </div>
                        </div>
                
                        <div class="form-group" [ngClass]="{'has-error': skill.get('experienceInYears').invalid && (skill.get('experienceInYears').touched || skill.get('experienceInYears').dirty || skill.get('experienceInYears').value !== '' || submitted)}">
                            <label class="col-sm-2 control-label" [attr.for]="'experienceInYears' + i">
                                Experience
                            </label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" [id]="'experienceInYears' + i" formControlName="experienceInYears" placeholder="In Years" />
                                <span class="help-block" *ngIf="skill.get('experienceInYears').errors?.required && (skill.get('experienceInYears').touched || skill.get('experienceInYears').dirty || skill.get('experienceInYears').value !== '' || submitted)">
                                    <!-- {{formErrors.experienceInYears}} -->
                                    {{ validationMessages.experienceInYears.required }}
                                </span>
                                <span class="help-block" *ngIf="skill.get('experienceInYears').errors?.max != null && (skill.get('experienceInYears').touched || skill.get('experienceInYears').dirty || skill.get('experienceInYears').value !== '' || submitted)">
                                    {{ validationMessages.experienceInYears.max }}
                                </span>
                            </div>
                        </div>
                
                        <div class="form-group" [ngClass]="{'has-error': skill.get('proficiency').invalid && (skill.get('proficiency').touched || skill.get('proficiency').value !== '' || submitted)}">
                            <label class="col-md-2 col-sm-2 control-label">Proficiency</label>
                            <div class="col-md-8 col-sm-10">
                                <label class="radio-inline">
                                    <input type="radio" value="beginner" formControlName="proficiency" />Beginner
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" value="intermediate" formControlName="proficiency" />Intermediate
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" value="advanced" formControlName="proficiency" />Advanced
                                </label>
                                <span class="help-block" *ngIf="skill.get('proficiency').errors?.required && (skill.get('proficiency').touched || skill.get('proficiency').value !== '' || employeeFormTrv.submitted)">
                                    <!-- {{formErrors.proficiency}} -->
                                    {{ validationMessages.proficiency.required }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="panel-footer">
            <div class="btn-toolbar">
                <button class="btn btn-primary" type="submit">Save</button>
                <button (click)="onLoadDataClick()" class="btn btn-primary" type="button">Load Data</button>
                <button (click)="onValidateDataClick()" class="btn btn-primary" type="button">Validate Data</button>
            </div>
        </div>
    </div>
</form>

FullName Touched:
{{ employeeForm.get('fullName').touched }}
