<form #employeeForm="ngForm" (ngSubmit)="saveEmployee()">
    <div class="panel panel-primary" *ngIf="employee">
        <div class="panel-heading">
            <h3 class="panel-title">{{ panelTitle }}</h3>
        </div>
        <div class="panel-body">
            <div class="form-group" [class.has-error]="name.invalid && (name.touched || employeeForm.submitted)" [class.has-success]="name.valid">
                <label for="name" class="control-label">Name</label>
                <input required id="name" name="name" [(ngModel)]="employee.name" #name="ngModel" class="form-control"
                    type="text" />
                <span *ngIf="name.invalid && (name.touched || employeeForm.submitted)" class="help-block">Name is required</span>
            </div>

            <div class="form-group" [class.has-error]="contactPreference.invalid && (contactPreference.touched || employeeForm.submitted)"
                [class.has-success]="contactPreference.valid">
                <label class="control-label">Contact Preference</label>
                <div class="form-control">
                    <label class="radio-inline">
                        <input required type="radio" value="Email" name="contactPreference"
                            [(ngModel)]="employee.contactPreference" #contactPreference="ngModel" />
                        Email
                    </label>
                    <label class="radio-inline">
                        <input required type="radio" value="Phone" name="contactPreference"
                            [(ngModel)]="employee.contactPreference" #contactPreference="ngModel" />
                        Phone
                    </label>
                </div>
                <span *ngIf="contactPreference.invalid && (contactPreference.touched || employeeForm.submitted)" class="help-block">Contact
                    Preference is required</span>
            </div>

            <div class="form-group" [class.has-error]="email.invalid">
                <label for="email" class="control-label">Email</label>
                <input [required]="contactPreference.value == 'Email'" email id="email" name="email"
                    [(ngModel)]="employee.email" #email="ngModel" class="form-control" type="text" />
                <span *ngIf="email.errors?.required" class="help-block">Email is required</span>
                <span *ngIf="email.errors?.email" class="help-block">Email is invalid</span>
            </div>

            <div class="form-group" [class.has-error]="phoneNumber.invalid">
                <label for="phoneNumber" class="control-label">Phone Number</label>
                <input [required]="contactPreference.value == 'Phone'" id="phoneNumber" name="phoneNumber"
                    [(ngModel)]="employee.phoneNumber" #phoneNumber="ngModel" class="form-control" type="text" />
                <span *ngIf="phoneNumber.errors?.required" class="help-block">Phone Number is Required</span>
            </div>

            <div class="form-group" [class.has-error]="gender.invalid && gender.touched">
                <label class="control-label">Gender</label>
                <div class="form-control">
                    <label class="radio-inline">
                        <input required type="radio" value="Male" name="gender" [(ngModel)]="employee.gender"
                            #gender="ngModel" /> Male
                    </label>
                    <label class="radio-inline">
                        <input required type="radio" value="Female" name="gender" [(ngModel)]="employee.gender"
                            #gender="ngModel" /> Female
                    </label>
                </div>
                <span *ngIf="gender.invalid && gender.touched" class="help-block">Gender is required</span>
            </div>

            <div class="form-group">
                <label class="control-label">State</label>
                <div class="form-control">
                    <label class="checkbox-inline">
                        <input type="checkbox" name="isActive" [(ngModel)]="employee.isActive" /> Is Active
                    </label>
                </div>
            </div>

            <!-- <div class="form-group" [class.has-error]="department.invalid && department.touched">
                <label class="control-label" for="department">Department</label>
                <select required id="department" name="department" [(ngModel)]="employee.department" #department="ngModel" class="form-control">
                    <option disabled [ngValue]="null">Select Department</option>
                    <option *ngFor="let department of departments" [ngValue]="department">
                        {{ department.name }}
                    </option>
                </select>
                <span *ngIf="department.invalid && department.touched" class="help-block">Department is required</span>
            </div> -->

            <div class="form-group" [class.has-error]="department.invalid && (department.touched || employeeForm.submitted)">
                <label class="control-label" for="department">Department</label>
                <select appSelectValidator="-1" required id="department" name="department"
                    [(ngModel)]="employee.department" #department="ngModel" class="form-control">
                    <option disabled value="-1">Select Department</option>
                    <option *ngFor="let department of departments" [value]="department.id">
                        {{ department.name }}
                    </option>
                </select>
                <span *ngIf="department.errors?.defaultSelected && (department.touched || employeeForm.submitted)" class="help-block">Department is
                    required</span>
            </div>

            <div class="row">
                <div class="form-group col-xs-5" [class.has-error]="dateOfBirth.invalid && (dateOfBirth.touched || employeeForm.submitted)">
                    <label for="dateOfBirth" class="control-label">Date of Birth</label>
                    <input required id="dateOfBirth" name="dateOfBirth" [(ngModel)]="employee.dateOfBirth" #dateOfBirth="ngModel" class="form-control" type="text" bsDatepicker [bsConfig]="datePickerConfig" placement="right" />
                    <span *ngIf="dateOfBirth.invalid && (dateOfBirth.touched || employeeForm.submitted)" class="help-block">Date of Birth is required</span>
                </div>
            </div>

            <div class="form-group" [class.has-error]="photoPath.invalid && (photoPath.touched || employeeForm.submitted)">
                <label for="photoPath" class="control-label">Photo Path</label>
                <input required id="photoPath" name="photoPath" [(ngModel)]="employee.photoPath" #photoPath="ngModel" class="form-control" type="text" />
                <span *ngIf="photoPath.invalid && (photoPath.touched || employeeForm.submitted)" class="help-block">Photo Path is required</span>
            </div>
            <div class="form-group">
                <button *ngIf="employee.photoPath !== null && employee.photoPath !== ''" type="button" class="btn btn-primary" (click)="togglePhotoPreview()">
                    {{ previewPhoto ? "Hide" : "Show" }} Preview
                </button>
            </div>
            <div class="form-group">
                <img *ngIf="previewPhoto && employee.photoPath !== null && employee.photoPath !== ''" [src]="employee.photoPath" height="200" width="200">
            </div>

            <div appConfirmEqualValidator ngModelGroup="passwordGroup" #passwordGroup="ngModelGroup" [class.has-error]="passwordGroup.errors?.notEqual && !confirmPassword.errors?.required">
                <div class="form-group" [class.has-error]="password.invalid && (password.touched || employeeForm.submitted)">
                    <label for="password" class="control-label">Password</label>
                    <input required id="password" name="password" [(ngModel)]="employee.password" #password="ngModel" class="form-control" type="text" />
                    <span *ngIf="password.errors?.required && (password.touched || employeeForm.submitted)" class="help-block">Password is Required</span>
                </div>
    
                <div class="form-group" [class.has-error]="confirmPassword.invalid && (confirmPassword.touched || employeeForm.submitted)">
                    <label for="confirmPassword" class="control-label">Confirm Password</label>
                    <input required id="confirmPassword" name="confirmPassword" [(ngModel)]="employee.confirmPassword" #confirmPassword="ngModel" class="form-control" type="text" />
                    <span *ngIf="confirmPassword.errors?.required && (confirmPassword.touched || employeeForm.submitted)" class="help-block">Confirm Password is Required</span>
                    <span *ngIf="passwordGroup.errors?.notEqual && !confirmPassword.errors?.required && (confirmPassword.touched || employeeForm.submitted)" class="help-block">Password and Confirm Password does not match</span>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <!-- <button [disabled]="employeeForm.invalid" type="submit" class="btn btn-primary">Save</button> -->
            <button [disabled]="employeeForm.submitted && employeeForm.invalid" type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
</form>

<!-- Form:

{{ employeeForm.value | json }}

<br />

Model:

{{ employee | json }}

Form submitted:

{{ employeeForm.submitted | json }}

 -->
 