<div class="form-group">
    <input [(ngModel)]="searchTerm" class="form-control" placeholder="Search by Name" type="text" />
</div>

<h1 *ngIf="dataFromChild">
    {{ dataFromChild?.name + ' ' + dataFromChild?.gender }}
</h1>

<div *ngFor="let employee of filteredEmployees">
    <app-display-employee (notify)="handleNotify($event)"
                [employee]="employee"
                [searchTerm]="searchTerm"
                (notifyDelete)="onDeleteNotification($event)"></app-display-employee>
</div>
<div *ngIf="error">{{ error }}</div>